@use 'variables' as *;

.about-entry-content {
    background-color: $background-color;
    color: black;
    border-radius: 0.5rem;
    border: 2px solid black;
    position: absolute;
    top: 0; 
    z-index: 10;
    // margin: 0 1rem;
    height: 90vh;
    width: 90vw;
    overflow: auto;

    .hide-tab {
        display: none;
    }
    
    .show-tab {
        display: block;
    }

    .tab-nav {
        list-style: none;
        display: flex;
        padding-inline-start: 0rem;
        margin: 0.5rem 0;
        margin-bottom: 0;
        font-size: 14px;

        li.active {
            background-color: $pink;
            font-weight: bold;
        }
    }

    .stack-heading {
        border-right: 1.5px black solid;
        border-left: 1.5px black solid;
        border-top: 1.5px black solid;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        margin-bottom: 0;
        padding: 0.1rem 1.5rem;
    }

    .faq-heading {
        border-right: 1.5px black solid;
        border-left: 1.5px black solid;
        border-top: 1.5px black solid;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        margin-bottom: 0;
        padding: 0.1rem 1.8rem;
    }

    .background-heading {
        border-right: 1.5px black solid;
        border-left: 1.5px black solid;
        border-top: 1.5px black solid;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        margin-bottom: 0;
        padding: 0.1rem 0.5rem;
    }

    .close-button {
        position: absolute;
        right: 0.3rem;
        top: 0.5rem;
        padding: 0;
    }

    .about-heading-container {
        background-color: $background-color;
        padding: 0.3rem;
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
    }

    .about-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1.5px solid black;
        margin: 0 0.5rem;
        border-radius: 0.5rem;

        h1 {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            margin: 0 auto;
            padding-right: 0.75rem;
            text-transform: lowercase;
        }

        .search-icon {
            max-width: 1.5rem;
            margin-left: 0.5rem;
        }
    }

    h2 {
        text-align: center;
        margin: 0;
    }

    p, a, h3 {
        margin: 0.5rem 1.5rem;
    }

    // background section
    .experiences {
        position: relative;
    }

    .timeline-line {
        background-color: $light-blue;
        padding: 0.25rem;
        position: absolute;
        left: 2rem;
        height: 100%;
        top: 0;
    }

    .star-icon {
        position: absolute;
        left: 1.25rem;
        z-index: 10;
        background: white;
        border-radius: 1rem;
        padding: 0.25rem;
        fill: $light-blue;
    }

    // stack/skills section
    .skills {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem;

        p{
            background-color: rgb(218, 218, 255);
            padding: 0.3rem;
            // border: 1.5px black solid;
            border-radius: 0.5rem;
            margin: 0.2rem;
            font-size: 14px;
        }
    }

    li {
        list-style: none;
    }

    // faq section
    .question-heading {
        display: grid;
        grid-template-columns: 80% 20%;        
        align-items: center;
    }

    .down-arrow, .up-arrow {
        margin: 1rem;
    }
}
