@use 'variables' as *;

footer {
    background-color: $light-blue;
    color: $text-color;
    padding: 0.3rem;
    text-align: center;
    margin: 0;
    
    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}