@use 'variables' as *;

.header-content {
    display: flex;
    color: $text-color;
    background-color: $light-blue;
    justify-content: space-between;
    align-items: center;
    
    .header-icons {
        display: flex;
        fill: $text-color;
    }

    .header-text {
        display: flex;
        margin: 0 0.75rem;
        font-size: 0.85rem;
    }

    .search-icon{
        width: 1.5rem;
        margin-left: 0.5rem;
    }

    .wifi-icon {
        width: 1.5rem;
        margin-left: 0.5rem;
    }

    .date {
        margin-right: 0.75rem;
    }

}

// 768px tablet
@media (min-width: 48em) {
    .header-content {

        .header-text {
            font-size: 1rem;
        }
    }
}

// 1024px laptop
@media (min-width: 64em) {
    .header-content {
        justify-content: flex-end;
    }
}