@use 'variables' as *;

.header-content {
    display: flex;
    color: black;
    background-color: $light-blue;
    justify-content: space-between;
    align-items: center;
    
    .header-icons {
        display: flex;
    }

    .header-text {
        display: flex;
        margin: 0 0.75rem;
        font-size: 0.85rem;
    }

    .search-icon{
        width: 1.5rem;
        margin-left: 0.5rem;
    }

    .wifi-icon {
        width: 1.5rem;
        margin-left: 0.5rem;
    }

    .date {
        margin-right: 0.75rem;
    }
    
}