.home-entry-content {
    position: relative;
    .intro {
        text-align: center;

        h1 {
            margin-bottom: 0.25rem;
        }

        p {
            margin: 1rem 3.5rem;
        }
    }

    .nav-folders {
        img{
            max-width: 40%;
            height: auto;
        }
        button {
            background: transparent;
            border: none;
        }
        button:active, button:focus { 
            border: none;
        }
    }

}