@use 'variables' as *;

body {
    background-color: $background-color;
}

.splash-page {
    text-align: center;
    h1 {
        font-weight: 400;
        margin: 0;
    }

    img {
        width: 20rem;
        height: auto;
    }

    button {
        background-color: $light-purple;
    }
}