// variables

// Typography


// colors
$text-color: #383C7A;
$background-color: #EAEFFB;
$light-purple: #BFC1E1;
$light-blue: #ACC3F2;
$pink: #FBC6BF;

// Break Points
$mobile: 20.625em; // 330px
$tablet-small: 31.25em; // 500px
$tablet-large: 44.375em; // 710px
$desktop-small: 48.125em; // 770px
$desktop-large: 64em; // 1024px