@use 'variables' as *;

.works-entry-content {
    background-color: $background-color;
    color: $text-color;
    border-radius: 0.5rem;
    border: 2px solid black;
    position: absolute;
    top: 1rem; 
    left: 0;
    right: 0;
    z-index: 10;
    height: 90vh;
    width: 90vw;
    overflow: auto;
    margin: 0 auto;

    .all-works img {
        max-width: 70%;
    }

    h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        margin: 0;
        padding: 0.5rem;
        background-color: $light-blue;
        margin-bottom: 1rem;
    }

    .works-overview {
        p {
            margin: 0 1rem;
            text-align: left;
            font-size: 14px;
            margin-bottom: 1.5rem;
        }
        .close-button {
            position: absolute;
            right: 0.3rem;
            top: 0.5rem;
            padding: 0;
        }
    }

    .all-works {
        display: grid;
        grid-template-columns: 50% 50%;    
    }

    .works-folders img{
        max-width: 55%;
    }

    // 425px mobile large
    @media (min-width: 26.56em) {
        height: 75vh;
        width: 85vw;

        .works-overview {
            p { 
                font-size: 1rem;
                margin: 0 2rem;
                margin-bottom: 1.5rem;
            }
        }

        .all-works {
            grid-template-columns: repeat(3, 33.33%);
            margin: 0 2rem;

            div {
                max-width: 9rem;
                margin: 0 auto;
            }
        }
        .works-folders {
            img{
                max-width: 65%;
            }
            
            p{
                font-size: 1rem;
            }
        }
    }

    // 768px tablet
    @media (min-width: 48em) {
        height: 73vh;
        width: 70vw;

        .works-overview {
            p { 
                margin: 0 7rem;
                margin-bottom: 1.5rem;
            }
        }

        .all-works {
            margin: 0 3rem;
        }
    }

    // 900px
    @media (min-width: 56.25em) {
        height: 65vh;
        width: 65vw;
    }

    // 1024px laptop 
    @media (min-width: 64em) {
        left: unset;
        right: 10rem;
        height: 59vh;
        width: 63vw;

        .works-overview {
            p { 
                font-size: 1.25rem;
                margin: 0 5rem;
                margin-bottom: 1.5rem;
            }
            .close-button {
                right: 0.5rem;
                svg {
                width: 1.75rem;
                height: 1.75rem;
                }
            }
        }

        .all-works {
            div {
                max-width: 10rem;
            }
        }

        .works-folders {
            img{
                max-width: 70%;
            }
            
            p{
                font-size: 1.25rem;
            }
        }
    }
}
