.works-entry-content {
    background-color: rgb(220, 220, 220);
    color: black;
    border-radius: 0.5rem;
    border: 2px solid black;
    position: absolute;
    top: 0; 
    z-index: 10;
    margin: 0 1rem;
    height: 90vh;
    width: 90vw;
    overflow: auto;

    .close-button {
        position: absolute;
        right: 0;
        top: 0.5rem;
    }

    .all-works img {
        max-width: 70%;
    }

    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .works-overview {
        p {
            margin: 0 1rem;
        }
    }

    .all-works {
        display: grid;
        grid-template-columns: 50% 50%;    
    }

}