@use 'variables' as *;

footer {
    background-color: $light-blue;
    color: $text-color;
    padding: 0.3rem;
    text-align: center;
    margin: 0;
    font-size: 0.85rem;
    
    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

// 768px tablet
@media (min-width: 48em) {
    footer {
        font-size: 1rem;
    }
}

// 1400px laptop
@media (min-width: 87.5em) {
    footer {
        font-size: 1.25rem;
    }
}